    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-green">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="../index.html">
                <img src="../img/Logo solo.PNG" alt="Logo" width="70" height="80"  >
                <span class="ms-2 fw-bold">Vittalium</span>
            </a>

            <!-- Botón hamburguesa para móvil -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Botones del centro -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../catalogo-producto.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contactanos.html">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../quiz.html">Descubre lo que tu cuerpo necesita</a>
                    </li>
                </ul>

                <!-- Botones de la derecha -->
                <div class="d-flex align-items-center gap-2">
                    <a href="../login.html" class="btn btn-outline-light me-2">
                        <i class="fas fa-user me-1"></i>Iniciar Sesión
                    </a>
                    <div class="cart-icon-container">
                        <a href="../carrito.html" class="btn btn-light position-relative">
                        <i class="fas fa-shopping-cart me-1"></i>Carrito
                        <span id="cart-count" class="cart-badge">0</span>
               
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
